# Servidor
PORT=3000

# MongoDB Atlas (produção)
MONGODB_URI=mongodb+srv://<usuario>:<senha>@cluster.xxxxx.mongodb.net/KRATOS

# MongoDB local (desenvolvimento alternativo)
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_PORT=27017
DB_NAME=KRATOS
DB_URL=mongodb://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}