# Servidor
PORT=3000

# MongoDB Atlas
MONGODB_URI=mongodb://seu_usuario:sua_senha@ac-pnii5uu-shard-00-00.frnrlxh.mongodb.net:27017,ac-pnii5uu-shard-00-01.frnrlxh.mongodb.net:27017,ac-pnii5uu-shard-00-02.frnrlxh.mongodb.net:27017/KRATOS?ssl=true&replicaSet=atlas-sv9w23-shard-0&authSource=admin&appName=ZEUS